
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}
:root {
  --blue01: hsl(209, 23%, 22%);
  --blue02: hsl(207, 26%, 17%);
  --blue03: hsl(200, 15%, 8%);
  --gray01: hsl(0, 0%, 52%);
  --gray02: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
[data-theme='dark'] {
  --blue01: hsl(209, 23%, 22%);
  --blue02: hsl(207, 26%, 17%);
  --blue03: hsl(0, 0%, 100%);
  --gray01: hsl(0, 0%, 52%);
  --gray02: hsl(207, 26%, 17%);
  --white: hsl(209, 23%, 22%);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
.App {
  background-color: var(--white);
}
.wrap {
  max-width: 1280px;
  margin: 0 auto;
}
.headerContainer {
  border-bottom: 3px solid var(--gray01);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0;
}
h1 {
  font-size: 25px;
  font-weight: 800;
  color: var(--blue03);
}
.modeToggle {
}
.main {
  background: var(--gray02);
  min-height: 100vh;
}
.queryBlk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
}
.queryBlk input {
  background: var(--white);
  width: 37.5%;
  border: none;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  color: var(--blue03);
}
.queryBlk select {
  background-color: var(--white);
  width: 15.5%;
  padding: 20px;
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  color: var(--blue03);
}
.contriesBlk {
}
.countries {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.country {
  box-shadow: var(--box-shadow);
  width: 20.70%;
  margin-bottom: 70px;
}
.country img {
  display: block;
  max-width: 265px;
  width: 100%;
  height: 160px;
}
.country .details {
  padding: 25px;
  background: var(--white);
  color: var(--blue03);
}
.country .title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 16px;
}
.country .txt span {
  font-weight: bold;
}
.country .txt {
  margin-bottom: 10px;
}

.singleCountry {
  display: flex;
}
.singleCountry .imgBlk {}
.singleCountry .detailsBlk {}
.singleCountry .title {
  color: var(--blue03);
}
.singleCountry .txtList {}
.singleCountry .txtList li {}